@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-arrow {
  font-size: 24px;
  color: white;
  animation: bounce-x 1s infinite;
}

@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}
